body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

#main-content {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #0056b3;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"], input[type="submit"], input[type="radio"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    width: auto;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #003366;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="radio"] + label {
    display: inline;
    margin-right: 10px;
}
