
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginContainer, #registerContainer, #forgotPasswordContainer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 120px; /* Adjust the size of the logo */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=email], input[type=text], input[type=password] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    cursor: pointer;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #003d82;
}

a {
    display: block;
    margin-top: 10px;
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}