.announcement-form {
    margin-bottom: 20px;
    width: 100%;
}
.announcement {
    border: 1px dashed #ccc;
    padding: 15px;
    margin-bottom: 10px;
}
.announcement-header {
    font-size: 24px;
    margin-bottom: 10px;
}
.announcement-body {
    margin-bottom: 20px;
}
.full-width-textarea {
    width: 100%;
    padding: 0;
    margin-top: 20px; /* 或者根据需要调整 */
    box-sizing: border-box; /* 确保宽度包括内边距和边框 */
}

.button {
    padding: 10px 20px;
    background-color: #FFA07A; /* Salmon color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap; /* Prevents text from wrapping */
}